<div class="row">
    <label for="">Check In</label>
<input type="date" name="" id="">
<label for="">Duration</label>
<select name="" id="">
    @for (item of items; track $index) {
        <option value="">{{item}}</option>
    }
    
</select>
</div>
<div class="row" >
    <h3>Room Details</h3>
    <label for="">Room Category</label>
    <input type="text" name="" id="">
    <label for="">Room Capacity</label>
    <input type="text" name="" id="">
    <label for="">Room Description</label>
    <input type="text" name="" id="">
</div>
